<div class="container">
  <div class="content">
    <h1>Проекты</h1>
    <div class="welcome-content">
      <div class="wel-txt">
        <h2>Название проекта</h2>
        <p>
          {{ "doslogistic.web.footer.aboutCompony.Summary" | translate }}
        </p>
      </div>

      <div class="wel-img">
        <img
          src="assets/images/about-us/image 2.png"
          alt="welcome image"
        />
        <div class="rectangle">
          <button class="autoplay">
            <svg
              class="fa-play"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 384 512"
            >
              <path
                fill="#6b4eff"
                d="M73 39c-14.8-9.1-33.4-9.4-48.5-.9S0 62.6 0 80L0 432c0 17.4 9.4 33.4 24.5 41.9s33.7 8.1 48.5-.9L361 297c14.3-8.7 23-24.2 23-41s-8.7-32.2-23-41L73 39z"
              />
            </svg>
          </button>
        </div>
      </div>
    </div>

    <div class="our-service">
      <!--  -->
      <div class="rectangle">
        <button class="autoplay">
          <svg
            class="fa-play"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 384 512"
          >
            <path
              fill="#6b4eff"
              d="M73 39c-14.8-9.1-33.4-9.4-48.5-.9S0 62.6 0 80L0 432c0 17.4 9.4 33.4 24.5 41.9s33.7 8.1 48.5-.9L361 297c14.3-8.7 23-24.2 23-41s-8.7-32.2-23-41L73 39z"
            />
          </svg>
        </button>
      </div>
      <!--  -->
      <div class="service-txt">
        <img
          src="assets/images/about-us/image 2 (1).png"
          class="user-image"
          alt=""
        />

        <div class="wel-txt">
          <h2>
            Название проекта
          </h2>
          <p>
            {{ "doslogistic.web.help.services.info" | translate }}
          </p>
        </div>

      </div>
    </div>

    <div class="welcome-content">
      <div class="wel-txt">
        <h2>Название проекта</h2>
        <p>
          {{ "doslogistic.web.footer.aboutCompony.Summary" | translate }}
        </p>
      </div>

      <div class="wel-img">
        <img
          src="assets/images/about-us/image 2.png"
          alt="welcome image"
        />
        <div class="rectangle">
          <button class="autoplay">
            <svg
              class="fa-play"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 384 512"
            >
              <path
                fill="#6b4eff"
                d="M73 39c-14.8-9.1-33.4-9.4-48.5-.9S0 62.6 0 80L0 432c0 17.4 9.4 33.4 24.5 41.9s33.7 8.1 48.5-.9L361 297c14.3-8.7 23-24.2 23-41s-8.7-32.2-23-41L73 39z"
              />
            </svg>
          </button>
        </div>
      </div>
    </div>

    <div class="our-service">
      <!--  -->
      <div class="rectangle">
        <button class="autoplay">
          <svg
            class="fa-play"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 384 512"
          >
            <path
              fill="#6b4eff"
              d="M73 39c-14.8-9.1-33.4-9.4-48.5-.9S0 62.6 0 80L0 432c0 17.4 9.4 33.4 24.5 41.9s33.7 8.1 48.5-.9L361 297c14.3-8.7 23-24.2 23-41s-8.7-32.2-23-41L73 39z"
            />
          </svg>
        </button>
      </div>
      <!--  -->
      <div class="service-txt">
        <img
          src="assets/images/about-us/image 2 (1).png"
          class="user-image"
          alt=""
        />

        <div class="wel-txt">
          <h2>
            Название проекта
          </h2>
          <p>
            {{ "doslogistic.web.help.services.info" | translate }}
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
