.container {
  display: flex;
  flex-direction: column;
}

.content {
  max-width: 1320px;
  margin: 100px auto 0 auto;
}

.content > h1 {
  font-size: 72px;
  font-weight: 700;
  line-height: 86px;
  font-family: Lato, serif;
  color: #FFFFFF;
}

.content-icons {
  display: flex;
  flex-direction: column;
  align-items: center;

  svg {
    margin-right: 100px;
    margin-bottom: 40px;
  }

  img {
    margin-right: 812px;
  }
}

.welcome-content {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  gap: 237px;
  margin-top: 10px;

  .wel-img {
    img {
      width: 500px;
      height: 400px;
      // z-index: -2;
    }

    .rectangle {
      border: none;
      display: flex;
      transform: translate(0%, -450%);
      justify-content: center;
    }

    .autoplay {
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 3;
      height: 55px;
      width: 55px;
      border-radius: 50%;
      border: none;
    }

    .fa-play {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 25px;
      height: 25px;
    }
  }
}

.wel-txt {
  font-family: Inter;
  font-style: normal;
  line-height: normal;
  margin-top: 30px;

  h2 {
    color: #fff;
    font-weight: 600;
    font-size: 48px;
    width: 450px;
  }

  p {
    font-weight: 350;
    font-size: 18px;
    color: #fff;
    width: 490px;
    height: 180px;
    flex-shrink: 0;
  }
}

.our-service {
  position: relative;
  display: flex;
  justify-content: center;
  padding-top: 150px;
  padding-bottom: 150px;

  .rectangle {
    border: none;
    display: flex;
    transform: translate(500%, 45%);
    justify-content: center;
    z-index: 3;
  }

  .autoplay {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3;
    height: 55px;
    width: 55px;
    border-radius: 50%;
    border: none;
  }

  .fa-play {
    width: 25px;
    height: 25px;
  }

}

.our-service:last-child {
  padding-bottom: 0;
  margin-bottom: 0;
}

.service-txt {
  display: flex;
  align-items: flex-start;
  gap: 237px;
  position: relative;

  img {
    z-index: 2;
  }

  .user-image {
    width: 500px;
    height: 400px;
  }
}

.plane2 {
  position: absolute;
  bottom: 88px;
  right: 273px;
}

.why-us {
  position: relative;
  align-items: center;
  text-align: center;

  img {
    width: 100%;
    object-fit: cover;
  }
}
