.container {
  display: flex;
  flex-direction: column;
}
.myVideo {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-repeat: repeat;
  z-index: -100;
}

h1 {
  font-size: 72px;
  font-weight: 700;
  color: white;
  margin: 100px 0 100px 110px;
}

.services-content {
  max-width: fit-content;
  margin-left: auto;
  margin-right: auto;
  gap: 28px;
}

ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

li {
  margin: 0 55px 25px 0;
  list-style-type: none;
}

ul > li > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 390px;
  height: 390px;
  margin: 0 0 24px 0;
  border-radius: 20px;

  background-size: cover;
  padding: 0;
  transition: transform 500ms;
}

ul > li > div:hover {
  transform: translateY(-20px);
}

ul > li > div > img {
  width: 64px;
  height: 64px;
  user-select: none;
}

ul > li > div > span {
  font-size: 24px;
  font-weight: 700;
  color: white;
  user-select: none;
}

.item-1 {
  background-image: url('../../../assets/images/services/gifs/Led-display.gif');
}

.item-2 {
  background-image: url('../../../assets/images/services/gifs/Public.gif');
}

.item-3 {
  background-image: url('../../../assets/images/services/gifs/Events.gif');
}

.item-4 {
  background-image: url('../../../assets/images/services/gifs/Transpotation.gif');
}

.item-5 {
  background-image: url('../../../assets/images/services/gifs/Conference.gif');
}

.item-6 {
  background-image: url('../../../assets/images/services/gifs/studio.gif');
}
