<section class="container" id="ourSolutions">
  <h1>{{ "doslogistic.web.navbar.solutions" | translate }}</h1>
  <!-- The video -->
  <video autoplay muted loop class="myVideo">
    <source src="../../../../assets/videos/video-1.mp4" type="video/mp4" />
  </video>

  <div class="services-content">
    <div class="service-cards">
      <ul>
        <li>
          <div class="item-1">
            <img src="../../../../assets/images/services/image1.svg" alt="image 1"/>
            <span>{{ "doslogistic.web.projects.ledScreensTitle" | translate }}</span>
          </div>
        </li>
        <li>
          <div class="item-2">
            <img src="../../../../assets/images/services/image2.svg" alt="image 2"/>
            <span>{{ "doslogistic.web.projects.interactivePanelsTitle" | translate }}</span>
          </div>
        </li>
        <li>
          <div class="item-3">
            <img src="../../../../assets/images/services/image1.svg" alt="image 3"/>
            <span>{{ "doslogistic.web.projects.videoProcessorsTitle" | translate }}</span>
          </div>
        </li>
        <li>
          <div class="item-4">
            <img src="../../../../assets/images/services/image2.svg" alt="image 4"/>
            <span>{{ "doslogistic.web.projects.audioSystemsTitle" | translate }}</span>
          </div>
        </li>
        <li>
          <div class="item-5">
            <img src="../../../../assets/images/services/image1.svg" alt="image 5"/>
            <span>{{ "doslogistic.web.projects.conferenceSystemsTitle" | translate }}</span>
          </div>
        </li>
        <li>
          <div class="item-6">
            <img src="../../../../assets/images/services/image2.svg" alt="image 6"/>
            <span>{{ "doslogistic.web.projects.vksSystemsTitle" | translate }}</span>
          </div>
        </li>
      </ul>
      <button routerLink="/helps">
        <h3 class="button-text">{{ "doslogistic.web.base.getMore" | translate }}</h3>
        <img src="assets/images/icons/arrow-up-right.png" alt="arrow-up-right">
     </button>
    </div>
  </div>
</section>
