.store {
  max-width: 1320px;
  margin: 0 auto;
  margin-top: 50px;
}


.logos {
  padding: 40px 40px;
  //padding-left: 100px;
  //border: 2px solid #ffffff;
  border-radius: 32px;
  //backdrop-filter: blur(4px);
  //-webkit-filter: blur(3px);
  // background: #ede1e1;
  background: #364d79

}

.card-sty {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color:#2b2b2c;
  //background-color:#b8dcf5;
  border-radius: 15px;
  width: 100%;
  z-index: 100;

  img {
    width: 150px;
    height: 135px;
    z-index: 100;
  }
}

@media (max-width: 1370px) {
  .logos {
    padding-left: 58px;
    width: 1100px;
  }

  .store {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 1129px) {
  .logos {
    width: 950px;
    padding: 30px 35px;
  }

  .title {
    font-size: 44px;
  }
}

@media (max-width: 980px) {
  .logos {
    width: 790px;
    padding: 25px 35px;
  }

  .title {
    font-size: 36px;
  }

  .card-sty {
    img {
      width: 60px;
      height: 60px;
    }
  }
}


@media (max-width: 825px) {
  .logos {
    width: 650px;
    padding: 20px 35px;
  }
}

@media (max-width: 685px) {
  .logos {
    width: 550px;
  }

  .title {
    font-size: 33px;
  }

  .card-sty {
    img {
      width: 50px;
      height: 50px;
    }
  }
}

@media (max-width: 590px) {
  .logos {
    width: 470px;
  }

  .title {
    font-size: 30px;
  }
}

@media (max-width: 510px) {
  .logos {
    width: 400px;
  }
}

@media (max-width: 480px) {
  .logos {
    width: 100%;
    background-color: #058c42;
    border: none;
    border-radius: initial;
    box-shadow: none;
    padding: 40px 35px;
  }

  .card-sty {
    img {
      width: 70px;
      height: 70px;
      border: 2px solid #ffff;
      margin-left: 15px;
      border-radius: 10px;
      padding: 10px;
    }
  }

  .store {
    margin-top: 30px;
    margin-bottom: 30px;
  }
}