.container {
  display: flex;
  flex-direction: column;
  background-color: #0a6bc8;
}

h1 {
  font-size: 72px;
  font-weight: 700;
  color: white;
  margin: 138px 0 64px 122px;
}

ul {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-left: 122px;
  margin-right: 122px;
}

li {
  margin: 0 24px 24px 0;
  list-style-type: none;
}

.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 383px;
  height: 383px;
  margin: 0 0 24px 0;
  background-color: red;
}

.item > img {
  width: 64px;
  height: 64px;
}

.item > span {
  font-size: 24px;
  font-weight: 700;
  color: white;
}
