<div class="container">
  <h1>Решения</h1>
  <div class="services-content">
    <ul>
      <li>
        <div class="item">
          <img src="../../../../assets/services/icons/image1.svg" alt="image 1"/>
          <span>Светодиодные мониторы</span>
        </div>
      </li>
      <li>
        <div class="item">
          <img src="../../../../assets/services/icons/image2.svg" alt="image 2"/>
          <span>Аудиосистемы</span>
        </div>
      </li>
      <li>
        <div class="item">
          <img src="../../../../assets/services/icons/image1.svg" alt="image 3"/>
          <span>Мониторы для офиса</span>
        </div>
      </li>
      <li>
        <div class="item">
          <img src="../../../../assets/services/icons/image2.svg" alt="image 4"/>
          <span>Рекламные мониторы</span>
        </div>
      </li>
      <li>
        <div class="item">
          <img src="../../../../assets/services/icons/image1.svg" alt="image 5"/>
          <span>Светодиодные мониторы</span>
        </div>
      </li>
      <li>
        <div class="item">
          <img src="../../../../assets/services/icons/image2.svg" alt="image 6"/>
          <span>Аудиосистемы</span>
        </div>
      </li>
      <li>
        <div class="item">
          <img src="../../../../assets/services/icons/image2.svg" alt="image 6"/>
          <span>Аудиосистемы</span>
        </div>
      </li>
      <li>
        <div class="item">
          <img src="../../../../assets/services/icons/image2.svg" alt="image 6"/>
          <span>Аудиосистемы</span>
        </div>
      </li>
      <li>
        <div class="item">
          <img src="../../../../assets/services/icons/image2.svg" alt="image 6"/>
          <span>Аудиосистемы</span>
        </div>
      </li>
      <li>
        <div class="item">
          <img src="../../../../assets/services/icons/image2.svg" alt="image 6"/>
          <span>Аудиосистемы</span>
        </div>
      </li>
      <li>
        <div class="item">
          <img src="../../../../assets/services/icons/image2.svg" alt="image 6"/>
          <span>Аудиосистемы</span>
        </div>
      </li>
      <li>
        <div class="item">
          <img src="../../../../assets/services/icons/image2.svg" alt="image 6"/>
          <span>Аудиосистемы</span>
        </div>
      </li>
    </ul>
  </div>
</div>
