.container {
  display: flex;
  flex-direction: column;
  background-color: #1a2c52;
}

h1 {
  font-size: 72px;
  font-weight: 700;
  color: white;
  margin: 138px 0 64px 122px;
}

.services-content {
  max-width: fit-content;
  margin-left: auto;
  margin-right: auto;
  gap: 24px;
}

ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

li {
  margin: 0 24px 24px 0;
  list-style-type: none;
}

ul > li > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 383px;
  height: 383px;
  margin: 0 0 24px 0;
  border-radius: 20px;

  background-size: cover;
  padding: 0;
  transition: transform 500ms;
}

ul > li > div:hover {
  transform: translateY(-20px);
}

ul > li > div > img {
  width: 64px;
  height: 64px;
}

ul > li > div > span {
  font-size: 24px;
  font-weight: 700;
  color: white;
}

.item-1 {
  background-image: url('../../../../assets/images/services/gifs/Led-display.gif');
}

.item-2 {
  background-image: url('../../../../assets/images/services/gifs/Public.gif');
}

.item-3 {
  background-image: url('../../../../assets/images/services/gifs/Events.gif');
}

.item-4 {
  background-image: url('../../../../assets/images/services/gifs/Transpotation.gif');
}

.item-5 {
  background-image: url('../../../../assets/images/services/gifs/Conference.gif');
}

.item-6 {
  background-image: url('../../../../assets/images/services/gifs/studio.gif');
}

.contacts {
  max-width: 1200px;
  max-height: 722px;
  width: 100%;
  height: 100%;
  font-family: Inter, serif;
  margin: 192px auto 96px;
  background-color: #DFEEFA;
  border-radius: 24px;
  padding: 64px 96px 64px 96px;
  gap: 24px;
}

.contacts > h1 {
  font-size: 40px;
  font-weight: 600;
  line-height: 46px;
  color: #000000;
  margin: 0;
}

.subtitle {
  font-size: 20px;
  font-weight: 600;
  color: #8E8E93;
}

.contacts-content {
  margin-top: 24px;
}

.contacts-name,
.contacts-phone,
.contacts-text {
  font-size: 16px;
  font-weight: 500;
  color: #000000;
}

.contacts-content > div {
  margin-top: 24px;
}

.contacts-name-input,
.contacts-phone-input {
  max-width: 1008px;
  max-height: 48px;
  width: 100%;
  height: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border-radius: 5px;
  border: 1px solid #D1D1D6;
}

.contacts-text-area {
  max-width: 1008px;
  width: 100%;
  height: 162px;
  line-height: 24px;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border-radius: 5px;
  border: 1px solid #D1D1D6;
  resize: none;
  overflow: hidden;
}

*:focus {
  outline: none;
}

.contacts-text-area::placeholder {
  position: absolute;
  top: 12px;
  left: 20px;
  color: grey;
}

.contacts-send-button {
  width: 1008px;
  height: 62px;
  margin-top: 24px;
  background-color: #223355;
  border: none;
  border-radius: 8px;
  font-size: 20px;
  font-weight: 500;
  color: white;
}
