<section class="container">
  <h1>Решения</h1>
  <!-- The video -->
  <video autoplay muted loop class="myVideo">
    <source src="../../../../assets/videos/video-1.mp4" type="video/mp4" />
  </video>

  <div class="services-content">
    <div class="service-cards">
      <ul>
        <li>
          <div class="item-1">
            <img src="../../../../assets/images/services/image1.svg" alt="image 1"/>
            <span>Светодиодные мониторы</span>
          </div>
        </li>
        <li>
          <div class="item-2">
            <img src="../../../../assets/images/services/image2.svg" alt="image 2"/>
            <span>Аудиосистемы</span>
          </div>
        </li>
        <li>
          <div class="item-3">
            <img src="../../../../assets/images/services/image1.svg" alt="image 3"/>
            <span>Мониторы для офиса</span>
          </div>
        </li>
        <li>
          <div class="item-4">
            <img src="../../../../assets/images/services/image2.svg" alt="image 4"/>
            <span>Рекламные мониторы</span>
          </div>
        </li>
        <li>
          <div class="item-5">
            <img src="../../../../assets/images/services/image1.svg" alt="image 5"/>
            <span>Светодиодные мониторы</span>
          </div>
        </li>
        <li>
          <div class="item-6">
            <img src="../../../../assets/images/services/image2.svg" alt="image 6"/>
            <span>Аудиосистемы</span>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <app-contacts></app-contacts>
</section>
