<section class="container">
  <div class="about-us-section-content">
    <div class="section-title">
      <h1>О нас</h1>
      <span>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
        industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
        scrambled it to make a type specimen book</span>
      <ul>
        <li>
          <img src="assets/images/about-us-section/check-mark.svg" alt="mark"/>
          <span>It is a long established fact that a reader will be distracted by the readable content of a page when
            looking at its layout.</span>
        </li>
        <li>
          <img src="assets/images/about-us-section/check-mark.svg" alt="mark"/>
          <span>It is a long established fact that a reader will be distracted by the readable content of a page when
            looking at its layout.</span>
        </li>
        <li>
          <img src="assets/images/about-us-section/check-mark.svg" alt="mark"/>
          <span>It is a long established fact that a reader will be distracted by the readable content of a page when
            looking at its layout.</span>
        </li>
      </ul>
    </div>
    <div class="section-image">
      <img class="upper-banner" src="assets/images/about-us-section/collective-photo.png" alt="collective-photo"/>
      <div class="lower-banner">
        <img class="lower-banner-1" src="assets/images/about-us-section/agreement-handshake.png"
             alt="agreement-handshake"/>
        <img class="lower-banner-2" src="assets/images/about-us-section/office-table.png" alt="office-table"/>
      </div>
    </div>
  </div>
</section>
