<div class="container">
  <div class="content">

    <div class="logo-details" routerLink="/">
      <!-- <img src="../../../assets/images/logo.png" alt=""> -->
       <h1 class="logo-text">BASCOO</h1>
    </div>

    <div class="nav-sty">

      <div class="nav-pages">
        <p routerLink="/">{{ "doslogistic.web.navbar.home" | translate }}</p>
        <!-- <p routerLink="/aboutUs" routerLinkActive="active-link">{{'doslogistic.web.navbar.aboutUs' | translate}}</p> -->
        <!-- <p routerLink="/services" routerLinkActive="active-link">{{'doslogistic.web.navbar.services' | translate}}</p> -->
        <!-- <p routerLink="/tariffs" routerLinkActive="active-link">{{'doslogistic.web.navbar.price' | translate}}</p> -->
        <!-- <p routerLink="/helps" routerLinkActive="active-link">{{'doslogistic.web.navbar.help' | translate}}</p> -->
        <p routerLink="/solutions" routerLinkActive="active-link">{{ "doslogistic.web.navbar.solutions" | translate }}</p>
        <p routerLink="/projects" routerLinkActive="active-link">{{ "doslogistic.web.navbar.projects" | translate }}</p>
      </div>
      <p class="contact" routerLink="/contacts" routerLinkActive="active-link">{{'doslogistic.web.navbar.contacts' | translate}}</p>
      
      <div class="langu">
        <app-language></app-language>
      </div>
      
      <!-- <div class="auth">
        <button routerLink="/login" (click)="closeMenu()">{{'doslogistic.web.navbar.login' | translate}}</button>
      </div> -->

    </div>

    <button (click)="toggleSidebar()" class="toggle-button">
      <span class="bar"></span>
      <span class="bar"></span>
      <span class="bar"></span>
    </button>
  </div>
</div>


<div class="custom-sidebar" [ngClass]="{ 'open': isOpen }">

  <div class="close" (click)="toggleSidebar()">
    <img src="../../../assets/images/close.png" alt="">
  </div>

  <div class="sidenav-logo" routerLink="/">
    <img src="../../../assets/images/logo.png" alt="">
  </div>

  <div class="nav-pages2">
    <p routerLink="/" (click)="toggleSidebar()">{{ "doslogistic.web.navbar.home" | translate }}</p>
    <p routerLink="/solutions" routerLinkActive="active-link" (click)="toggleSidebar()">{{ "doslogistic.web.navbar.solutions" | translate }}</p>
    <p routerLink="/projects" routerLinkActive="active-link" (click)="toggleSidebar()">{{ "doslogistic.web.navbar.projects" | translate }}</p>
    
    <p class="contact" routerLink="/contacts" (click)="toggleSidebar()">
      {{'doslogistic.web.navbar.contacts'
      | translate}}</p>
      
      <div class="langu">
        <app-language></app-language>
      </div>
      
      <!-- <div class="auth2">
        <button routerLink="/login" (click)="closeMenu()">{{'doslogistic.web.navbar.login' | translate}}</button>
      </div> -->
    </div>

</div>



