<div class="container">
  <div class="content">

    <div class="logo-details" routerLink="/">
      <img src="../../../assets/images/logo.png" alt="">
    </div>

    <div class="nav-sty">

      <div class="nav-pages">
        <p routerLink="/">Главная</p>
        <!-- <p routerLink="/aboutUs" routerLinkActive="active-link">{{'doslogistic.web.navbar.aboutUs' | translate}}</p> -->
        <!-- <p routerLink="/services" routerLinkActive="active-link">{{'doslogistic.web.navbar.services' | translate}}</p> -->
        <!-- <p routerLink="/tariffs" routerLinkActive="active-link">{{'doslogistic.web.navbar.price' | translate}}</p> -->
        <!-- <p routerLink="/helps" routerLinkActive="active-link">{{'doslogistic.web.navbar.help' | translate}}</p> -->
        <p routerLink="/solutions" routerLinkActive="active-link">Решения</p>
        <p routerLink="/projects" routerLinkActive="active-link">Проекты</p>
        <p routerLink="/contacts" routerLinkActive="active-link">{{'doslogistic.web.navbar.contacts' | translate}}</p>
      </div>

      <div class="langu">
        <app-language></app-language>
      </div>

      <div class="auth">
        <button routerLink="/register" (click)="closeMenu()">{{'doslogistic.web.navbar.register' | translate}}</button>
      </div>

    </div>

    <button (click)="toggleSidebar()" class="toggle-button">
      <span class="bar"></span>
      <span class="bar"></span>
      <span class="bar"></span>
    </button>
  </div>
</div>


<div class="custom-sidebar" [ngClass]="{ 'open': isOpen }">

  <div class="close" (click)="toggleSidebar()">
    <img src="../../../assets/images/close.png" alt="">
  </div>

  <div class="sidenav-logo" routerLink="/">
    <img src="../../../assets/images/logo.png" alt="">
  </div>

  <div class="nav-pages2">
    <p routerLink="/" (click)="toggleSidebar()">Главная</p>
    <p routerLink="/solutions" routerLinkActive="active-link" (click)="toggleSidebar()">Решения</p>
    <p routerLink="/projects" routerLinkActive="active-link" (click)="toggleSidebar()">Проекты</p>
    <p routerLink="/contacts" routerLinkActive="active-link" (click)="toggleSidebar()">
      {{'doslogistic.web.navbar.contacts'
      | translate}}</p>

    <div class="langu">
      <app-language></app-language>
    </div>

    <div class="auth2">
      <button routerLink="/register" (click)="closeMenu()">{{'doslogistic.web.navbar.register' | translate}}</button>
    </div>

  </div>
</div>



