.container {
  width: 100%;
  height: 70px;
  background-color: #1a2c52;
}

.content {
  max-width: 1320px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  color: #fff;
  font-family: Inter;
  font-style: normal;
  line-height: normal;
  font-weight: 400;
  text-align: center;
  font-size: 19px;
}

.logo-details {
  cursor: pointer;

  .logo-text {
    font-size: 50px;
    font-family: Impact;
    color: #fff;
    margin: 0 0 0 12px;
  }
}

.nav-sty {
  display: flex;
  align-items: center;
  gap: 34px;
}

.nav-pages {
  display: flex;
  gap: 34px;
  padding-right: 20px;

  p {
    margin-bottom: 0;
    cursor: pointer;
    position: relative;
    transition: color 0.3s ease;

    &:hover {
      color: #fff;
      text-decoration: none;
    }

    &::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: -5px;
      width: 100%;
      height: 2px;
      background-color: #fff;
      transform: scaleX(0);
      transform-origin: center;
      transition: transform 0.3s ease;
    }

    &:hover::after {
      transform: scaleX(1);
    }

    &:hover::after,
    &.active-link::after {
      transform: scaleX(1);
    }

    &.active-link {
      color: #fff;
    }
  }
}
.contact {
  border: 2px solid #8b1313;
  background-color: #8b1313;
  border-radius: 16px;
  padding: 8px 10px;
  margin-bottom: 0;
  cursor: pointer;
  position: relative;
  transition: color 0.3s ease;

  &:hover,
  &::after,
  &:hover::after,
  &.active-link::after {
    background-color: #b41313;
    border: 2px solid #b41313;
  }
}

.langu {
  display: flex;
  box-sizing: border-box;
  text-align: center;
  align-items: center;
}

.auth {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  button {
    background-color: #00103a;
    border: 2px solid #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #fff;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 132px;
    padding: 11px 0;
  }
}

// hamburger
.toggle-button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 5px;
}

.bar {
  display: block;
  width: 30px;
  height: 3px;
  background-color: #fff;
  margin: 6px 0;
  transition: 0.4s;
}

// sidebar
.custom-sidebar {
  position: fixed;
  top: 0;
  right: -300px;
  width: 300px;
  height: 100%;
  background-color: #1a2c52;
  transition: right 0.3s;
  z-index: 1112;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.custom-sidebar.open {
  right: 0;
}

.close {
  width: 100%;
  height: 70px;
  justify-content: flex-end;
  align-items: center;
  display: flex;
  padding: 20px 40px;

  img {
    width: 22px;
  }
}

.sidenav-logo {
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    width: 150px;
  }
}

.nav-pages2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px;
  color: #fff;
  padding-left: 76px;
  gap: 24px;
  font-size: 17px;

  p {
    margin-bottom: 0;
    cursor: pointer;
    position: relative;
    transition: color 0.3s ease;

    font-family: Inter;
    font-style: normal;
    line-height: normal;
    font-weight: 400;
    text-align: center;

    &:hover {
      color: #fff;
      text-decoration: none;
    }

    &::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: -5px;
      width: 100%;
      height: 2px;
      background-color: #fff;
      transform: scaleX(0);
      transform-origin: center;
      transition: transform 0.3s ease;
    }

    &:hover::after {
      transform: scaleX(1);
    }

    &:hover::after,
    &.active-link::after {
      transform: scaleX(1);
    }

    &.active-link {
      color: #fff;
    }
  }
}

.auth2 {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  button {
    background-color: #00103a;
    border: 2px solid #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #fff;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 132px;
    padding: 11px 0;
  }
}

@media screen and (max-width: 10000px) {
  .toggle-button,
  .custom-sidebar {
    display: none;
  }
  .langu-text {
    color: #fff;
  }
}
@media screen and (max-width: 1321px) {
  .content {
    width: 1270px;
    height: 70px;
  }
  .logo-details .logo-text {
    font-size: 50px;
    margin: 0 0 0 12px;
  }
}

@media screen and (max-width: 1281px) {
  .content {
    width: 1240px;
  }
  .logo-details .logo-text {
    font-size: 48px;
    margin: 0 0 0 32px;
  }
}
@media screen and (max-width: 1200px) {
  .content {
    width: 1180px;
  }
  .logo-details .logo-text {
    font-size: 47px;
    margin: 0 0 0 35px;
  }
  .nav-sty {
    gap: 30px;
  }

  .auth button {
    width: 110px;
    padding: 10px 0;
  }

  .nav-pages {
    gap: 20px;
  }

  .cal-langu {
    gap: 20px;
  }
}

@media screen and (max-width: 1024px) {
  .content {
    width: 1000px;
  }
  .logo-details .logo-text {
    font-size: 46px;
    margin: 0 0 0 20px;
  }
  .nav-sty,
  .auth {
    display: none;
  }

  .toggle-button,
  .custom-sidebar {
    display: block !important;
  }

  .content {
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
  }
}
@media screen and (max-width: 924px) {
  .content {
    width: 900px;
  }
  .logo-details .logo-text {
    font-size: 46px;
    margin: 0 0 0 21px;
  }
}

@media screen and (max-width: 820px) {
  .content {
    width: 756px;
  }
  .logo-details .logo-text {
    font-size: 44px;
    margin: 0 0 0 12px;
  }
}

@media screen and (max-width: 700px) {
  .logo-details .logo-text {
    font-size: 40px;
    margin: 0 0 0 21px;
  }
  .content {
    width: 680px;
  }
  .modal-content {
    width: 550px !important;
    top: 100px;
  }
}

@media screen and (max-width: 600px) {
  .logo-details .logo-text {
    font-size: 37px;
    margin: 0 0 0 27px;
  }
  .content {
    width: 580px;
  }
  .modal-content {
    width: 450px !important;
  }
}

@media screen and (max-width: 540px) {
  .custom-sidebar.open {
    background: rgb(9, 36, 107);
    background: linear-gradient(
      0deg,
      rgba(9, 36, 107, 1) 13%,
      rgba(1, 23, 78, 1) 45%,
      rgba(16, 47, 122, 1) 81%
    );
  }
  .content {
    width: 520px;
  }
  .logo-details .logo-text {
    font-size: 30px;
    margin: 0 0 0 21px;
  }
  .modal-content {
    width: 450px !important;
  }
}

@media screen and (max-width: 480px) {
  .content {
    width: 465px;
  }
  .logo-details .logo-text {
    font-size: 30px;
    margin: 0px;
  }
  .logo-details {
    img {
      height: 40px;
    }
  }

  .modal-content {
    width: 350px !important;
  }

  .footer-paragraph {
    h3 {
      width: 50px;
      padding: 10px 0;
      font-size: 19px;
    }

    h1 {
      font-size: 28px;
      font-weight: 600;
    }
  }
}

.footer-paragraph {
  display: flex;
  justify-content: space-between;
  height: 50px;
  padding-top: 35px;
  align-items: center;

  h3 {
    width: 150px;
    padding: 10px 0;
  }

  h1 {
    font-size: 34px;
    font-weight: 700;
  }
}
@media screen and (max-width: 431px) {
  .content {
    width: 400px;
  }
  .logo-details .logo-text {
    font-size: 30px;
  }
  .modal-content {
    width: 450px !important;
  }
  .custom-sidebar {
    width: 240px;
  }
  .sidenav-logo {
    display: none;
  }
  .nav-pages2 {
    padding: 20px;
    padding-left: 65px;
  }
}
@media screen and (max-width: 420px) {
  .content {
    width: 400px;
  }
  .logo-details .logo-text {
    font-size: 30px;
  }
  .modal-content {
    width: 450px !important;
  }
  .custom-sidebar {
    width: 240px;
  }
  .sidenav-logo {
    display: none;
  }
  .nav-pages2 {
    padding: 20px;
    padding-left: 65px;
  }
}

@media screen and (max-width: 376px) {
  .content {
    width: 355px;
  }
  .logo-details .logo-text {
    font-size: 30px;
  }
  .custom-sidebar {
    width: 240px;
  }

  .nav-pages2 {
    padding: 20px;
    padding-left: 65px;
  }
}
