<div class="container">
  <div class="content">
    <nz-carousel nzAutoPlay>
      <div nz-carousel-content *ngFor="let index of array">
        <img loading="lazy" src="{{index}}" alt="">
      </div>
    </nz-carousel>
    <div class="service_info">
      <div class="title">
        ОБЪЕДИНЯЕМ <br>
        ТЕХНОЛОГИИ БУДУЩЕГО <br>
      </div>
      <div class="review">
        <div>
          <img class="review-avatar" loading="lazy" src="assets/images/carusel/review-avatar.svg" alt="avatar"/>
          <div class="review-content">
            <span class="review-owner">CEO Xalq Banki</span>
            <ul>
              <li>
                <img loading="lazy" src="assets/images/carusel/rate-star.svg" alt="star">
              </li>
              <li>
                <img loading="lazy" src="assets/images/carusel/rate-star.svg" alt="star">
              </li>
              <li>
                <img loading="lazy" src="assets/images/carusel/rate-star.svg" alt="star">
              </li>
              <li>
                <img loading="lazy" src="assets/images/carusel/rate-star.svg" alt="star">
              </li>
              <li>
                <img loading="lazy" src="assets/images/carusel/rate-star.svg" alt="star">
              </li>
            </ul>
          </div>
        </div>
        <span class="subtitle">Я работаю с этой компанией уже много лет. От моих лучших партнеров!</span>
      </div>
      <button>Свяжитесь с нами <img loading="lazy" src="assets/images/icons/arrow-up-right.png" alt="arrow-up-right"></button>
    </div>
  </div>
</div>
