.container {
  display: flex;
  flex-direction: column;

}
.myVideo {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-repeat: repeat;
  z-index: -100;
}
h1 {
  font-size: 72px;
  font-weight: 700;
  color: white;
  margin: 100px 0 0 160px;
  display: flex;
  justify-content: flex-start;
}

.services-content {
  max-width: fit-content;
  margin-left: auto;
  margin-right: auto;
  gap: 24px;
}

.connect {
  max-width: 1200px;
  max-height: 722px;
  width: 100%;
  height: 100%;
  font-family: Inter, serif;
  margin: 150px auto 90px;
  background-color: #DFEEFA;
  border-radius: 24px;
  padding: 64px 96px 64px 96px;
  gap: 24px;
}

.connect > h1 {
  font-size: 40px;
  font-weight: 600;
  line-height: 46px;
  color: #000000;
  margin: 0;
}

.subtitle {
  font-size: 20px;
  font-weight: 600;
  color: #8E8E93;
}

.connect-content {
  margin-top: 24px;
}

.connect-name,
.connect-phone,
.connect-text {
  font-size: 16px;
  font-weight: 500;
  color: #000000;
}

.connect-content > div {
  margin-top: 24px;
}

.connect-name-input,
.connect-phone-input {
  max-width: 1008px;
  max-height: 48px;
  width: 100%;
  height: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border-radius: 5px;
  border: 1px solid #D1D1D6;
}

.connect-text-area {
  max-width: 1008px;
  width: 100%;
  height: 162px;
  line-height: 24px;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border-radius: 5px;
  border: 1px solid #D1D1D6;
  resize: none;
  overflow: hidden;
}

*:focus {
  outline: none;
}

.connect-text-area::placeholder {
  position: absolute;
  top: 12px;
  left: 20px;
  color: grey;
}

.connect-send-button {
  width: 1008px;
  height: 62px;
  margin-top: 24px;
  background-color: #223355;
  border: none;
  border-radius: 8px;
  font-size: 20px;
  font-weight: 500;
  color: white;
  transition: background-color 0.3s ease-in-out;
}

.connect-send-button:hover {
  background-color: #264891;
}

.contacts {
  display: flex;
  max-width: 1200px;
  max-height: 722px;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  margin: 192px auto 96px;
}

.contacts-info {
  display: flex;
  max-width: 419px;
  width: 100%;
  flex-direction: column;
  color: #000;
  font-family: Inter, serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 55px 30px;
  border-radius: 32px;
  border: 2px solid #143066;
  background: #dfeefa;

  p {
    font-weight: 600;
  }
}

.contacts-title {
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 50px;
}

.cards {
  display: flex;
  gap: 20px;
  align-items: center;

  border-bottom: 1px solid #ccc;
  padding-bottom: 30px;
  margin-bottom: 50px;

  span {
    color: #143066;
    font-weight: 600;
    font-size: 21px;
    user-select: none;
  }

  p {
    margin-bottom: 0;
    font-size: 22px;
    font-weight: 400;
  }

  a {
    color: black;
    text-decoration: none;
  }
}

.cards:last-child {
  margin-bottom: 0;
  border-bottom: none;
  padding-bottom: 0;
}

.card-icon {
  border-radius: 50%;
  border: 0.5px solid #143066;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;

  img {
    width: 35px;
    height: 35px;
    margin-left: 0;
    margin-top: 0;
  }

  .mail {
    width: auto;
    height: auto;
    margin-left: 0;
    margin-top: 0;
  }
}

.map-content {
  width: 749px;
  height: 673px;
  border-radius: 32px;
  overflow: hidden;
}
