<section class="container">
  <!-- The video -->
  <video autoplay muted loop class="myVideo">
    <source src="../../../../assets/videos/video-1.mp4" type="video/mp4"/>
  </video>

  <div class="services-content">
    <h2>{{ "doslogistic.web.contacts.pageTitle" | translate }}</h2>
    <div class="connect">
      <h1>{{ "doslogistic.web.contacts.form.title" | translate }}</h1>
      <span class="subtitle"
      >{{ "doslogistic.web.contacts.form.subTitle" | translate }}</span
      >
      <div class="connect-content">
        <div class="connect-name">
          <span>{{ "doslogistic.web.contacts.form.fullName" | translate }}</span>
          <input
              class="connect-name-input"
              [placeholder]="'doslogistic.web.contacts.form.fullNamePlaceHolder' | translate"
          />
        </div>
        <div class="connect-phone">
          <span>{{ "doslogistic.web.contacts.form.phoneNumber" | translate }}</span>
          <input 
            class="connect-phone-input" 
            [placeholder]="'doslogistic.web.contacts.form.phoneNumberPlaceHolder' | translate"
          />
        </div>
        <div class="connect-subject">
          <span>{{ "doslogistic.web.contacts.form.subject" | translate }}</span>
          <input 
            class="connect-subject-input" 
            [placeholder]="'doslogistic.web.contacts.form.subjectPlaceHolder' | translate"
          />
        </div>
        <div class="connect-text">
          <span>{{ "doslogistic.web.contacts.form.message" | translate }}</span>
          <input
            class="connect-text-area"
            [placeholder]="'doslogistic.web.contacts.form.messagePlaceHolder' | translate"
          />
        </div>
      </div>
      <button class="connect-send-button">
        {{ "doslogistic.web.contacts.form.submit" | translate }}
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="21"
          height="20"
          viewBox="0 0 21 20"
          fill="none"
        >
          <path
            d="M1.20339 16.6505L4.63121 10.7536C4.90213 10.2875 4.90212 9.71194 4.63119 9.24589L1.20341 3.34955C1.07031 3.1206 0.993597 2.85976 1.01553 2.59585C1.0742 1.88991 1.31461 1.38677 1.96127 1.26742C2.16916 1.22905 2.38054 1.28492 2.57347 1.37137L19.2658 8.85077C19.4846 8.94883 19.6696 9.10818 19.7064 9.34514C19.7647 9.71969 19.7645 10.2875 19.7059 10.66C19.6691 10.8937 19.4863 11.0504 19.2704 11.1472L2.57324 18.6287C2.38046 18.7151 2.16925 18.7709 1.9615 18.7327C1.31465 18.6135 1.0742 18.1102 1.01553 17.4041C0.993598 17.1402 1.0703 16.8794 1.20339 16.6505Z"
            stroke="white"
            stroke-linecap="round"
          />
          <path
            d="M19.5 10L5.37281 9.99982"
            stroke="white"
            stroke-linecap="round"
          />
        </svg>
      </button>
    </div>

    <div class="contacts" *ngIf="selectedPage === 'uzbekistan'">
      <div class="contacts-info">
        <p class="contacts-title">{{ "doslogistic.web.contacts.data.title" | translate }}</p>

        <div class="cards">
          <div class="card-icon">
            <img src="../../../../assets/images/contacts/phone.png" alt=""/>
          </div>

          <div>
            <span>{{ "doslogistic.web.contacts.data.phoneNumber" | translate }}</span>
            <p><a href="tel:+998935900002">+998 93 590 00 02</a></p>
          </div>
        </div>

        <div class="cards">
          <div class="card-icon">
            <img src="../../../../assets/images/contacts/phone.png" alt=""/>
          </div>

          <div>
            <span>{{ "doslogistic.web.contacts.data.phoneNumber" | translate }}</span>
            <p><a href="tel:+998712070002">+998 71 207 00 02</a></p>
          </div>
        </div>

        <div class="cards">
          <div class="card-icon">
            <img
              class="mail"
              src="../../../../assets/images/contacts/mail.png"
              alt=""
            />

          </div>
          <div>
            <span>{{ "doslogistic.web.contacts.data.email" | translate }}</span>
            <p>
              <a href="mailto:murtazo.mb@gmail.com" target="_blank">
                {{ "doslogistic.web.contacts.personalemail" | translate }}
              </a>
            </p>
          </div>
        </div>
        <div class="cards">
          <div class="card-icon">
            <img src="../../../../assets/images/contacts/location.png" alt=""/>
          </div>
          <div>
            <span>{{ "doslogistic.web.contacts.data.address" | translate }}</span>
            <p>Toshkent</p>
          </div>
        </div>
      </div>

      <div class="map-content" *ngIf="selectedPage === 'uzbekistan'">
        <ya-map [center]="[41.300469, 69.219028]" [zoom]="14">
          <ya-placemark
            [geometry]="[41.300469, 69.219028]"
            [properties]="{ balloonContent: 'Baynalmilal ko\'chasi 55' }"
            [options]="{ iconColor: '#041948' }"
          ></ya-placemark>
        </ya-map>
      </div>
    </div>
  </div>
</section>

