@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

* {
	font-family: Inter !important;
}

.container {
	display: flex;
	flex-direction: column;
}

.myVideo {
	object-fit: cover;
	width: 100vw;
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
	background-repeat: repeat;
	z-index: -100;
}

.text-content {
	display: flex;
	justify-content: flex-start;
	margin-left: 110px;
	font-size: 70px;
	font-weight: 700;
	color: white;
	margin-top: 80px;
}

.content {
	max-width: 1320px;
	margin: 100px auto;
}

.welcome-content {
	display: flex;
	justify-content: space-around;
	align-items: flex-start;
	gap: 300px;
	margin-top: 10px;
}

.wel-img {
	position: relative;
	float: left;
	margin-top: -25px;
	margin-right: 25px;
	width: 500px;
	height: 400px;
	.main-image {
		width: 470px;
		height: 340px;
		border-radius: 30px;
		transition: transform .1s;
	}
	.main-image:hover{
		transform: scale(1.09);
	}

}



.play-icon {
	position: absolute;
	top: 45%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 1;
	cursor: pointer;
}

.wel-background {
	width: 475px;
	height: 350px;
	margin-left: 25px;
	border-radius: 25px;
	border: 1px solid rgba(223, 238, 250, 0.35);
	background: rgba(34, 51, 85, 0.35);
}

.wel-txt {
	font-family: Inter;
	font-style: normal;
	line-height: normal;
	margin-top: 30px;

  h2 {
    color: #fff;
    font-weight: 600;
    font-size: 42px;
    width: 490px;
  }

	p {
		font-weight: 350;
		font-size: 18px;
		color: #fff;
		width: 490px;
		height: 180px;
		flex-shrink: 0;
	}
}

.our-service {
	position: relative;
	display: flex;
	justify-content: center;
	padding-top: 150px;
	padding-bottom: 100px;
}

.service-txt {
	display: flex;
	align-items: flex-start;
	gap: 300px;
	position: relative;

	img {
		z-index: 2;
	}

	.user-image {
		width: 500px;
		height: 400px;
	}
}

.content2 {
	padding-top: 0px;
	padding-bottom: 0px;
}

@media (width: 2100px) and (min-width: 1400px) {
  .text-content {
    display: flex;
    justify-content: flex-start;
    margin-left: 200px;
    font-size: 70px;
    font-weight: 700;
    color: white;
    margin-top: 80px;
  }
}

@media screen and (max-width: 1380px) {
	.text-content {
		margin-left: 60px;
		font-size: 65px;
	}
	.welcome-content,
	.service-txt {
		justify-content: center;
		gap: 205px;
	}
}

@media screen and (max-width: 1280px) {
	.text-content {
		margin-left: 38px;
		font-size: 65px;
	}
	.welcome-content,
	.service-txt {
		justify-content: center;
		gap: 180px;
	}
}
@media screen and (max-width: 1201px) {
	.welcome-content,
	.service-txt {
		justify-content: center;
		gap: 106px;
	}
}
@media screen and (max-width: 1160px) {
	.welcome-content,
	.service-txt {
		justify-content: center;
		gap: 70px;
	}
	.wel-background {
		width: 470px;
		height: 340px;
		margin-left: 25px;
		border-radius: 25px;
	}
	.wel-img {
		margin-top: -25px;
		margin-right: 25px;
		width: 500px;
		height: 400px;
		.main-image {
			width: 470px;
			height: 340px;
		}
	}
}

@media screen and (max-width: 1101px) {
	.text-content {
		margin-left: 60px;
		font-size: 65px;
	}
	.welcome-content,
	.service-txt {
		justify-content: center;
		gap: 65px;
	}
	.wel-txt h2 {
		color: #fff;
		font-weight: 600;
		font-size: 42px;
		width: 450px;
	}
	.wel-txt p {
		font-weight: 350;
		font-size: 15px;
		width: 450px;
		height: 180px;
	}
	.service-txt .user-image {
		width: 380px;
		height: 340px;
	}
	.wel-background {
		width: 420px;
		height: 300px;
		margin-left: 25px;
		border-radius: 25px;
	}
	.wel-img {
		margin-top: -25px;
		margin-right: 25px;
		width: 420px;
		height: 300px;
		.main-image {
			width: 420px;
			height: 300px;
		}
	}
}
@media screen and (max-width: 1025px) {
	.text-content {
		font-size: 55px;
		display: flex;
		justify-content: flex-start;
	}
	.welcome-content,
	.service-txt {
		justify-content: center;
		gap: 65px;
	}
	.wel-txt h2 {
		color: #fff;
		font-weight: 600;
		font-size: 42px;
		width: 450px;
	}
	.wel-txt p {
		font-weight: 350;
		font-size: 15px;
		width: 450px;
		height: 180px;
	}
	.service-txt .user-image {
		width: 380px;
		height: 340px;
	}
	.wel-background {
		width: 420px;
		height: 300px;
		margin-left: 25px;
		border-radius: 25px;
	}
	.wel-img {
		margin-top: -25px;
		margin-right: 25px;
		width: 420px;
		height: 300px;
		.main-image {
			width: 420px;
			height: 300px;
		}
	}
}

@media screen and (max-width: 913px) {
	.welcome-content,
	.service-txt {
		justify-content: center;
		gap: 50px;
	}
	.text-content {
		margin-left: 40px;
		font-size: 52px;
		font-weight: 600;
	}
	.wel-txt h2 {
		font-weight: 600;
		font-size: 41px;
		width: 410px;
		margin-left: 20px;
	}
	.wel-txt p {
		font-weight: 350;
		font-size: 15px;
		width: 380px;
		height: 180px;
		margin: 0 20px;
	}
	.wel-img {
		width: 360px;
		height: 300px;
	}
	.wel-img .main-image {
		width: 340px;
		height: 300px;
	}
	.welcome-content .wel-img .main-image,
	.service-txt .wel-img .main-imag {
		width: 340px;
		height: 300px;
	}
	.wel-background {
		width: 340px;
		height: 300px;
	}
	.wel-txt {
		margin-top: -3px;
	}
	.play-icon {
		justify-content: center;
		align-items: center;
		width: 60px;
		height: 60px;
	}
}
@media (max-width: 854px) {
	.welcome-content,
	.service-txt {
		justify-content: center;
		gap: 40px;
	}
	.text-content {
		margin-left: 40px;
		font-size: 50px;
		font-weight: 600;
	}
	.wel-txt h2 {
		font-weight: 600;
		font-size: 40px;
		width: 380px;
		margin-left: 20px;
	}
	.wel-txt p {
		font-weight: 350;
		font-size: 14px;
		width: 350px;
		height: 180px;
		margin: 0 20px;
	}
	.wel-img {
		width: 320px;
		height: 280px;
	}
	.wel-img .main-image {
		width: 320px;
		height: 280px;
	}
	.welcome-content .wel-img .main-image,
	.service-txt .wel-img .main-imag {
		width: 320px;
		height: 280px;
	}
	.wel-background {
		width: 320px;
		height: 280px;
	}
}

@media (max-width: 821px) {
	.welcome-content,
	.service-txt {
		justify-content: center;
		gap: 40px;
	}
	.text-content {
		margin-left: 40px;
		font-size: 50px;
		font-weight: 600;
	}
	.wel-txt h2 {
		font-weight: 600;
		font-size: 40px;
		width: 380px;
		margin-left: 20px;
	}
	.wel-txt p {
		font-weight: 350;
		font-size: 14px;
		width: 350px;
		height: 180px;
		margin: 0 20px;
	}
	.wel-img {
		width: 315px;
		height: 285px;
	}
	.wel-img .main-image {
		width: 310px;
		height: 270px;
	}
	.welcome-content .wel-img .main-image,
	.service-txt .wel-img .main-imag {
		width: 310px;
		height: 270px;
	}
	.wel-background {
		width: 310px;
		height: 270px;
	}
	.wel-txt {
		margin-top: -3px;
	}
	.play-icon {
		justify-content: center;
		align-items: center;
		width: 60px;
		height: 60px;
	}
}

@media screen and (max-width: 768px) {
	.welcome-content,
	.service-txt {
		justify-content: center;
		gap: 30px;
	}
	.text-content {
		margin-left: 24px;
		margin-top: 40px;
		font-size: 48px;
		font-weight: 600;
	}
	.wel-txt h2 {
		font-weight: 600;
		font-size: 38px;
		width: 365px;
		margin-left: 20px;
	}
	.wel-txt p {
		font-weight: 350;
		font-size: 14px;
		width: 340px;
		height: 180px;
		margin: 0 20px;
	}
	.wel-img {
		width: 315px;
		height: 285px;
	}
	.wel-img .main-image {
		width: 300px;
		height: 265px;
	}
	.welcome-content .wel-img .main-image,
	.service-txt .wel-img .main-imag {
		width: 300px;
		height: 265px;
	}
	.wel-background {
		width: 300px;
		height: 265px;
	}
	.play-icon {
		justify-content: center;
		align-items: center;
		width: 55px;
		height: 55px;
	}
}

@media screen and (max-width: 540px) {
  .myVideo {
    display: none;
  }
  .container {
    background: rgb(5, 24, 75);
    background: radial-gradient(
      circle,
      rgba(5, 24, 75, 1) 29%,
      rgba(25, 96, 152, 1) 53%,
      rgba(1, 23, 78, 1) 79%
    );
    background-repeat: repeat;
  }
  .content {
    margin: 30px auto;
  }
  .text-content {
    margin-left: 33px;
    font-size: 50px;
    font-weight: 500;
    margin-bottom: 0px;
  }
  .welcome-content {
    flex-direction: column;
    justify-content: center;
    gap: 60px;
  }
  .service-txt {
    flex-direction: column-reverse;
    justify-content: center;
    gap: 60px;
  }
  .wel-txt h2 {
    font-weight: 600;
    font-size: 40px;
    width: 470px;
  }
  .wel-txt p {
    font-weight: 350;
    font-size: 16px;
    width: 470px;
    height: 100%;
  }
  .wel-img {
    width: 450px;
    height: 360px;
  }
  .wel-img .main-image {
    width: 450px;
    height: 360px;
  }
  .welcome-content .wel-img .main-image,
  .service-txt .wel-img .main-imag {
    width: 450px;
    height: 360px;
  }
  .wel-background {
    width: 450px;
    height: 360px;
  }
  .play-icon {
    justify-content: center;
    align-items: center;
    width: 65px;
    height: 65px;
  }
}

@media screen and (max-width: 431px) {
  .content {
    margin: 30px auto;
  }
  .text-content {
    margin-left: 20px;
    font-size: 46px;
    font-weight: 500;
  }
  .welcome-content {
    flex-direction: column;
    justify-content: center;
    gap: 60px;
  }
  .service-txt {
    flex-direction: column-reverse;
    justify-content: center;
    gap: 60px;
  }
  .wel-txt {
    width: 420px;
  }
  .wel-txt h2 {
    font-weight: 600;
    font-size: 34px;
    width: 400px;
  }
  .wel-txt p {
    font-weight: 350;
    font-size: 14px;
    width: 400px;
    height: 100%;
  }
  .wel-img {
    width: 400px;
    height: 370px;
  }
  .wel-img .main-image {
    width: 380px;
    height: 330px;
    margin-left: 10px;
  }
  .welcome-content .wel-img .main-image,
  .service-txt .wel-img .main-imag {
    width: 380px;
    height: 330px;
    margin-left: 10px;
  }
  .wel-background {
    width: 380px;
    height: 330px;
    margin-left: 38px;
  }
  .play-icon {
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
  }
}

@media screen and (max-width: 415px) {
  .text-content {
    font-size: 44px;
  }
  .wel-txt {
    width: 395px;
  }
  .wel-txt h2 {
    font-weight: 600;
    font-size: 33px;
    width: 385px;
    margin-left: 10px;
  }
  .wel-txt p {
    font-weight: 350;
    font-size: 13px;
    width: 360px;
    margin: 0 12px;
  }
  .wel-img {
    width: 370px;
    height: 330px;
  }
  .wel-img .main-image {
    width: 340px;
    height: 310px;
    margin-left: 10px;
  }
  .welcome-content .wel-img .main-image,
  .service-txt .wel-img .main-imag {
    width: 340px;
    height: 310px;
    margin-left: 15px;
  }
  .wel-background {
    width: 340px;
    height: 310px;
    margin-left: 42px;
  }
  .play-icon {
    justify-content: center;
    align-items: center;
    width: 55px;
    height: 55px;
  }
}

@media screen and (max-width: 391px) {
  .text-content {
    font-size: 38px;
  }
  .wel-txt h2 {
    font-weight: 600;
    font-size: 30px;
    width: 370px;
  }
  .wel-txt p {
    font-weight: 350;
    font-size: 13px;
    width: 350px;
    margin: 0 10px 0 20px;
  }
  .wel-img {
    width: 340px;
    height: 310px;
  }
  .wel-img .main-image {
    width: 320px;
    height: 290px;
    margin-left: 10px;
  }
  .welcome-content .wel-img .main-image,
  .service-txt .wel-img .main-imag {
    width: 320px;
    height: 290px;
    margin-left: 10px;
  }
  .wel-background {
    width: 320px;
    height: 290px;
    margin-left: 35px;
  }
  .play-icon {
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
  }
}
@media screen and (max-width: 381px) {
  .text-content {
    font-size: 37px;
  }
  .wel-txt {
    width: 365px;
  }
  .wel-txt h2 {
    font-weight: 600;
    font-size: 29px;
    width: 350px;
  }
  .wel-txt p {
    font-weight: 350;
    font-size: 13px;
    width: 340px;
    margin: 0 10px 0 20px;
  }
  .wel-img {
    width: 340px;
    height: 310px;
  }
  .wel-img .main-image {
    width: 320px;
    height: 290px;
    margin-left: 10px;
  }
  .welcome-content .wel-img .main-image,
  .service-txt .wel-img .main-imag {
    width: 320px;
    height: 290px;
    margin-left: 10px;
  }
  .wel-background {
    width: 320px;
    height: 290px;
    margin-left: 35px;
  }
  .play-icon {
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
  }
}

@media screen and (max-width: 376px) {
  .text-content {
    font-size: 37px;
  }
  .wel-txt {
    width: 365px;
  }
  .wel-txt h2 {
    font-weight: 600;
    font-size: 29px;
    width: 350px;
  }
  .wel-txt p {
    font-weight: 350;
    font-size: 13px;
    width: 340px;
    margin: 0 10px 0 20px;
  }
  .wel-img {
    width: 340px;
    height: 310px;
  }
  .wel-img .main-image {
    width: 320px;
    height: 290px;
    margin-left: 10px;
  }
  .welcome-content .wel-img .main-image,
  .service-txt .wel-img .main-imag {
    width: 320px;
    height: 290px;
    margin-left: 10px;
  }
  .wel-background {
    width: 320px;
    height: 290px;
    margin-left: 35px;
  }
  .play-icon {
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
  }
}

@media screen and (max-width: 361px) {
  .wel-txt {
    width: 358px;
  }
  .wel-txt p {
    font-weight: 350;
    font-size: 13px;
    width: 340px;
    margin: 0 2px 0 12px;
  }
  .wel-img {
    width: 340px;
    height: 310px;
    margin-right: 18px;
  }
  .wel-img .main-image {
    width: 310px;
    height: 280px;
    margin-left: 10px;
  }
  .welcome-content .wel-img .main-image,
  .service-txt .wel-img .main-imag {
    width: 310px;
    height: 280px;
    margin-left: 10px;
  }
  .wel-background {
    width: 310px;
    height: 280px;
    margin-left: 35px;
  }
  .play-icon {
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
  }
}
