<div class="container" id="ourProjects">
  <h2 class="text-content">{{ "doslogistic.web.navbar.projects" | translate }}</h2>

  <!-- The video -->
  <video autoplay muted loop class="myVideo">
    <source src="../../../../assets/videos/video-1.mp4" type="video/mp4"/>
  </video>

  <div class="content">
    <div class="welcome-content">
      <div class="wel-txt">
        <h2>{{ "doslogistic.web.projects.ledScreensTitle" | translate }}</h2>
        <p>
          {{ "doslogistic.web.projects.ledScreensContent" | translate }}
        </p>
      </div>

      <div class="video-container">
      <div class="wel-img">
          <img class="play-icon" src="assets/images/icons/play.svg" alt="play">
          <img
            class="main-image"
            src="../../../../assets/images/about-us/image 2.png"
            alt="welcome image"
          />
        </div>
        <div class="wel-background"></div>
      </div>
    </div>

    <div class="our-service">
      <div class="service-txt">
        <div class="video-container">
          <div class="wel-img" href="">
            <img
              class="main-image"
              src="../../../../assets/images/about-us/image 2 (1).png"
              alt="welcome image"
            />
            <img class="play-icon" src="assets/images/icons/play.svg" href="https://www.youtube.com/" alt="play">
          </div>
          <div class="wel-background"></div>
        </div>

        <div class="wel-txt">
          <h2>{{ "doslogistic.web.projects.audioSystemsTitle" | translate }}</h2>
          <p>
            {{ "doslogistic.web.projects.audioSystemsContent" | translate }}
          </p>
        </div>
      </div>
    </div>

    <div class="welcome-content">
      <div class="wel-txt">
        <h2>{{ "doslogistic.web.projects.videoProcessorsTitle" | translate }}</h2>
        <p>
          {{ "doslogistic.web.projects.videoProcessorsContent" | translate }}
        </p>
      </div>

      <div class="video-container">
        <div class="wel-img">
          <img class="play-icon" src="assets/images/icons/play.svg" alt="play">
          <img
            class="main-image"
            src="../../../../assets/images/about-us/image 2.png"
            alt="welcome image"
          />
        </div>
        <div class="wel-background"></div>
      </div>
    </div>

    <div class="our-service">
      <div class="service-txt">
        <div class="video-container">
          <div class="wel-img">
            <img
              class="main-image"
              src="../../../../assets/images/about-us/image 2 (1).png"
              alt="welcome image"
            />
            <img class="play-icon" src="assets/images/icons/play.svg" alt="play">
          </div>
          <div class="wel-background"></div>
        </div>

        <div class="wel-txt">
          <h2>{{ "doslogistic.web.projects.conferenceSystemsTitle" | translate }}</h2>
          <p>
            {{ "doslogistic.web.projects.conferenceSystemsContent" | translate }}
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="content2">
    <div class="review-content">
      <app-reviews></app-reviews>
    </div>
  </div>

  <div class="content2">
    <div class="review-content">
      <app-contacts></app-contacts>
    </div>
  </div>
</div>
`
