@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

* {
  font-family: Inter !important;
}
.container {
  display: flex;
  flex-direction: column;
}
.myVideo {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-repeat: repeat;
  z-index: -100;
}
.text-content {
  display: flex;
  justify-content: flex-start;
  margin-left: 110px;
  font-size: 70px;
  font-weight: 700;
  color: white;
  margin-top: 80px;
}

.content {
  max-width: 1320px;
  margin: 100px auto;
}

.welcome-content {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  gap: 300px;
  margin-top: 10px;

  .wel-img {
    img {
      width: 500px;
      height: 400px;
    }
  }
}

.wel-txt {
  font-family: Inter;
  font-style: normal;
  line-height: normal;
  margin-top: 30px;

  h2 {
    color: #fff;
    font-weight: 600;
    font-size: 48px;
    width: 450px;
  }

  p {
    font-weight: 350;
    font-size: 18px;
    color: #fff;
    width: 490px;
    height: 180px;
    flex-shrink: 0;
  }
}

.our-service {
  position: relative;
  display: flex;
  justify-content: center;
  padding-top: 150px;
  padding-bottom: 100px;
}

.service-txt {
  display: flex;
  align-items: flex-start;
  gap: 300px;
  position: relative;

  img {
    z-index: 2;
  }
  .user-image {
    width: 500px;
    height: 400px;
  }
}

.content2 {
  padding-top: 0px;
  padding-bottom: 0px;
}

@media screen and (max-width: 1380px) {
  .text-content {
    margin-left: 60px;
    font-size: 65px;
  }
  .welcome-content,
  .service-txt {
    justify-content: center;
    gap: 205px;
  }
}
@media screen and (max-width: 1280px) {
  .text-content {
    margin-left: 38px;
    font-size: 65px;
  }
  .welcome-content,
  .service-txt {
    justify-content: center;
    gap: 138px;
  }
}
@media screen and (max-width: 1024px) {
  .text-content {
    margin-left: 60px;
    font-size: 65px;
  }
  .welcome-content,
  .service-txt {
    justify-content: center;
    gap: 100px;
  }
  .welcome-content .wel-img img {
    width: 380px;
    height: 340px;
  }
  .wel-txt h2 {
    color: #fff;
    font-weight: 600;
    font-size: 46px;
    width: 450px;
  }
  .wel-txt p {
    font-weight: 350;
    font-size: 17px;
    width: 460px;
    height: 180px;
  }
  .service-txt .user-image {
    width: 380px;
    height: 340px;
  }
}
@media screen and (max-width: 913px) {
  .text-content {
    margin-left: 40px;
    font-size: 52px;
    font-weight: 600;
  }
  .welcome-content .wel-img img,
  .service-txt .user-image {
    width: 340px;
    height: 300px;
  }
  .wel-txt {
    margin-top: -3px;
  }
  .wel-txt h2 {
    font-weight: 600;
    font-size: 41px;
    width: 450px;
  }
  .wel-txt p {
    font-weight: 350;
    font-size: 16px;
    width: 420px;
    height: 180px;
  }
  .welcome-content,
  .service-txt {
    justify-content: center;
    gap: 65px;
  }
}
@media (max-width: 821px) {
  .text-content {
    margin-left: 25px;
    font-size: 48px;
    font-weight: 500;
    margin-bottom: 3px;
  }
  .content {
    margin: 50px auto;
  }
  .welcome-content .wel-img img,
  .service-txt .user-image {
    width: 300px;
    height: 260px;
  }
  .wel-txt h2 {
    font-weight: 600;
    font-size: 38px;
    width: 450px;
  }
  .wel-txt p {
    font-weight: 350;
    font-size: 15px;
    width: 406px;
    height: 180px;
  }
  .welcome-content,
  .service-txt {
    justify-content: center;
    gap: 20px;
  }
}
@media screen and (max-width: 768px) {
}
@media screen and (max-width: 540px) {
  .content {
    margin: 30px auto;
  }
  .text-content {
    margin-left: 33px;
    font-size: 50px;
    font-weight: 500;
    margin-bottom: 0px;
  }
  .welcome-content {
    flex-direction: column;
    justify-content: center;
    gap: 20px;
  }
  .service-txt {
    flex-direction: column-reverse;
    justify-content: center;
    gap: 20px;
  }
  .wel-txt h2 {
    font-weight: 600;
    font-size: 40px;
    width: 470px;
  }
  .wel-txt p {
    font-weight: 350;
    font-size: 16px;
    width: 470px;
    height: 100%;
  }
  .welcome-content .wel-img img,
  .service-txt .user-image {
    width: 470px;
    height: 370px;
  }
}
@media screen and (max-width: 431px) {
  .welcome-content,
  .service-txt {
    justify-content: center;
    gap: 50px;
  }
  .content {
    margin: 30px auto;
  }
  .text-content {
    margin-left: 25px;
    font-size: 42px;
    font-weight: 500;
  }
  .wel-txt h2 {
    font-weight: 600;
    font-size: 32px;
    width: 390px;
    margin: 0 0 16px 16px;
  }
  .wel-txt p {
    font-weight: 350;
    font-size: 16px;
    width: 370px;
    height: 100%;
    margin: 0 0 16px 16px;
  }
  .welcome-content .wel-img img,
  .service-txt .user-image {
    width: 400px;
    height: 340px;
  }
}
@media screen and (max-width: 414px) {
  .welcome-content,
  .service-txt {
    justify-content: center;
    gap: 40px;
  }
  .welcome-content .wel-img img,
  .service-txt .user-image {
    width: 370px;
    height: 320px;
    margin-left: 10px;
  }
}
@media screen and (max-width: 391px) {
  .welcome-content .wel-img img,
  .service-txt .user-image {
    width: 370px;
    height: 320px;
    margin-left: 10px;
  }
  .wel-txt p {
    font-weight: 350;
    font-size: 16px;
    width: 350px;
    height: 100%;
    margin: 0 0 16px 16px;
  }
}
@media screen and (max-width: 376px) {
  .welcome-content .wel-img img,
  .service-txt .user-image {
    width: 350px;
    height: 300px;
    margin-left: 10px;
  }
}
@media screen and (max-width: 376px) {
  .welcome-content .wel-img img,
  .service-txt .user-image {
    width: 330px;
    height: 290px;
    margin-left: 10px;
  }
  .wel-txt p {
    font-weight: 350;
    font-size: 16px;
    width: 325px;
    height: 100%;
    margin: 0 0 0 16px;
  }
}
