.container {
  display: flex;
  justify-content: center;
  align-items: center;
  //width: 100%;
  height: 564px;
  //padding: 96px 110px 96px 110px;
  font-family: Inter, serif;
}

.stats-content {
  display: flex;
  justify-content: space-between;
  gap: 105px;
}

.stats-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 640px;
  gap: 24px;
}

.stats-title > * {
  color: #ffffff;
}

.stats-title > h1 {
  font-size: 28px;
  width: 620px;
  font-weight: 700;
  margin-bottom: 0;
}

.stats-title > span {
  font-size: 16px;
  font-weight: 400;
  width: 620px;
}

.stats-title > button {
  display: flex;
  justify-content: center;
  width: 264px;
  height: 64px;
  padding: 12px 24px 12px 24px;
  background-color: #8b1313;
  font-size: 24px;
  font-weight: 400;
  border: none;
  border-radius: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.stats-title > button:hover {
  background-color: #b41313;
}

.stats-title > button > img {
  top: 9.33px;
  left: 9.33px;
  border-radius: 2px;
}

.stats-numbers {
  display: flex;
  margin-right: 120px;
}

.stats-number-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  width: 190px;
  height: 165px;
  margin: 0 0 32px 32px;
  background-color: #dfeefa;
  border-radius: 20px;
  transition: background-color 0.3s ease-in-out;
  //padding: 32px 64px 32px 64px;
}

.stats-number-container:first-child {
  transform: translateX(50%);
}

.stats-number-container:hover {
  background-color: #b8dcf5;
}

.stats-number-container > img {
  display: flex;
  margin-right: auto;
  margin-left: auto;
  width: 35px;
  height: 35px;
  user-select: none;
}

.stats-number-num {
  font-size: 30px;
  font-weight: 600;
  text-align: center;
  color: black;
  user-select: none;
}

.stats-number-subtitle {
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  color: #3c3c43;
  user-select: none;
}

@media screen and (max-width: 1281px) {
  .stats-content {
    display: flex;
    justify-content: space-between;
    gap: 55px;
  }
  .stats-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 590px;
    gap: 24px;
  }
  .stats-title > h1 {
    font-size: 28px;
    width: 560px;
    font-weight: 700;
    margin-bottom: 0;
  }
  .stats-title > span {
    font-size: 16px;
    font-weight: 400;
    width: 580px;
  }
}

@media screen and (max-width: 1226px) {
  .container {
    height: 559px;
    padding: 85px 90px 86px 90px;
  }
  .stats-number-container {
    width: 196px;
    height: 165px;
    margin: 0 0 30px 30px;
  }
  .stats-title {
    width: 530px;
    gap: 24px;
  }
  .stats-title > h1 {
    font-size: 28px;
    width: 560px;
    font-weight: 700;
    margin-bottom: 0;
  }
  .stats-title > span {
    font-size: 16px;
    font-weight: 400;
    width: 580px;
  }
}

@media screen and (max-width: 1100px) {
  .container {
    height: 559px;
    padding: 65px 60px;
  }
  .stats-number-container {
    width: 180px;
    height: 140px;
    margin: 0 0 25px 25px;
  }
  .stats-title {
    width: 530px;
    gap: 24px;
  }
  .stats-title > h1 {
    font-size: 28px;
    width: 560px;
    font-weight: 700;
    margin-bottom: 0;
  }
  .stats-title > span {
    font-size: 16px;
    font-weight: 400;
    width: 580px;
  }
  .stats-number-num {
    font-size: 27px;
    font-weight: 600;
  }
  .stats-number-container > img {
    width: 32px;
    height: 32px;
  }
}

@media screen and (max-width: 1025px) {
  .stats-content {
    display: flex;
    justify-content: space-between;
    gap: 28px;
  }
  .container {
    height: 520px;
    padding: 55px 40px;
  }
  .stats-number-container {
    width: 155px;
    height: 130px;
    margin: 0 0 23px 23px;
  }
  .stats-number-num {
    font-size: 27px;
    font-weight: 600;
  }
  .stats-title {
    width: 450px;
    gap: 24px;
  }
  .stats-title > h1 {
    font-size: 26px;
    width: 450px;
    font-weight: 700;
    margin-bottom: 0;
  }
  .stats-title > span {
    font-size: 14px;
    font-weight: 400;
    width: 450px;
  }
  .stats-number-container > img {
    width: 32px;
    height: 32px;
  }
  .stats-title > button {
    width: 240px;
    height: 54px;
    padding: 12px 24px 12px 24px;
    font-size: 22px;
    font-weight: 400;
  }
}

@media screen and (max-width: 913px) {
  .stats-content {
    display: flex;
    justify-content: space-between;
    gap: 22px;
  }
  .container {
    height: 500px;
    padding: 50px 40px;
  }
  .stats-number-container {
    width: 160px;
    height: 120px;
    margin: 0 0 22px 22px;
  }
  .stats-title > h1 {
    font-size: 37px;
    font-weight: 500;
  }
  .stats-number-num {
    font-size: 27px;
    font-weight: 600;
  }
  .stats-title > span {
    font-size: 14px;
    font-weight: 400;
    width: 350px;
  }
  .stats-number-container > img {
    width: 32px;
    height: 32px;
  }
  .stats-title > button {
    width: 220px;
    height: 47px;
    padding: 10px 18px 12px 18px;
    font-size: 20px;
    font-weight: 400;
  }
  .stats-number-container:first-child {
    transform: translateX(60%);
  }
  .stats-number-container:nth-child(2) {
    transform: translateX(30%);
  }
  .stats-numbers {
    display: flex;
    margin-right: 100px;
  }
}

@media screen and (max-width: 821px) {
  .stats-numbers {
    display: flex;
    margin-right: 100px;
  }
  .stats-content {
    display: flex;
    justify-content: space-between;
    gap: 2px;
  }
  .container {
    height: 500px;
    padding: 40px 30px;
  }
  .stats-title {
    width: 310px;
  }
  .stats-title > h1 {
    font-size: 33px;
    font-weight: 500;
  }
  .stats-number-num {
    font-size: 24px;
    font-weight: 600;
  }
  .stats-title > span {
    font-size: 12px;
    font-weight: 400;
    width: 300px;
  }
  .stats-number-container > img {
    width: 30px;
    height: 30px;
  }
}

@media screen and (max-width: 769px) {
  .stats-content {
    display: flex;
    justify-content: space-between;
    gap: 2px;
  }
  .stats-number-container {
    width: 140px;
    height: 110px;
    margin: 0 0 20px 20px;
  }
  .container {
    height: 490px;
    padding: 40px 25px;
  }
  .stats-title {
    width: 310px;
  }
  .stats-title > h1 {
    font-size: 33px;
    font-weight: 500;
  }
  .stats-number-num {
    font-size: 24px;
    font-weight: 600;
  }
  .stats-title > span {
    font-size: 14px;
    font-weight: 400;
  }
  .stats-number-container > img {
    width: 30px;
    height: 30px;
  }
}

@media screen and (max-width: 541px) {
  .container {
    height: 500px;
    padding: 40px 30px;
  }
  .stats-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 500px;
    margin-left: 30px;
    gap: 40px;
  }
  .stats-number-container:first-child,
  .stats-number-container:nth-child(2) {
    transform: translateX(-10%);
  }
  .stats-number-container {
    width: 220px;
    height: 140px;
    margin: 0 0 25px 25px;
  }
  .stats-title > h1 {
    font-size: 30px;
    font-weight: 500;
  }
  .stats-number-num {
    font-size: 27px;
    font-weight: 600;
  }
  .stats-title > span {
    font-size: 16px;
    font-weight: 400;
    width: 460px;
  }
  .stats-number-container > img {
    width: 32px;
    height: 32px;
  }
  .stats-title > button {
    width: 220px;
    height: 47px;
    padding: 10px 18px 12px 18px;
    font-size: 20px;
    font-weight: 400;
  }
}

@media screen and (max-width: 431px) {
  .container {
    height: 500px;
    padding: 40px 30px;
  }
  .stats-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 400px;
    margin-left: 10px;
    gap: 40px;
  }
  .container {
    height: 700px;
    padding: 40px 15px;
  }
  .stats-number-container {
    width: 185px;
    height: 125px;
    margin: 0 0 22px 22px;
  }
  .stats-title > h1 {
    font-size: 36px;
    font-weight: 500;
  }
  .stats-number-num {
    font-size: 27px;
    font-weight: 600;
  }
  .stats-title > span {
    font-size: 16px;
    font-weight: 400;
    width: 400px;
  }
  .stats-number-container > img {
    width: 30px;
    height: 30px;
  }
  .stats-title > button {
    width: 220px;
    height: 47px;
    padding: 10px 18px 12px 18px;
    font-size: 20px;
    font-weight: 400;
  }
}

@media screen and (max-width: 415px) {
  .stats-title > h1 {
    font-size: 34px;
    font-weight: 500;
  }
  .stats-title > span {
    font-size: 16px;
    font-weight: 400;
    width: 390px;
  }
  .stats-number-container {
    width: 180px;
    height: 120px;
    margin: 0 0 22px 22px;
  }
}

@media screen and (max-width: 396px) {
  .container {
    height: 400px;
    padding: 20px 15px;
  }
  .stats-content {
    gap: 40px;
    width: 360px;
  }
  .stats-title > h1 {
    font-size: 32px;
    font-weight: 500;
  }
  .stats-title > span {
    font-size: 14px;
    font-weight: 400;
    width: 375px;
  }
  .stats-number-container {
    width: 170px;
    height: 120px;
    margin: 0 0 21px 21px;
  }
}

@media screen and (max-width: 376px) {
  .stats-content {
    width: 350px;
    gap: 40px;
  }
  .container {
    height: 400px;
    padding: 20px 15px;
  }
  .stats-content {
    gap: 40px;
    width: 350px;
  }
  .stats-title {
    margin: 0 10px;
    width: 310px;
  }
  .stats-title > h1 {
    font-size: 30px;
    font-weight: 500;
  }
  .stats-title > span {
    font-size: 14px;
    font-weight: 400;
    width: 355px;
  }
  .stats-number-container {
    width: 158px;
    height: 112px;
    margin: 0 0 20px 20px;
  }
}

@media screen and (max-width: 376px) {
  .container {
    height: 400px;
    padding: 20px 15px;
  }
  .stats-content {
    gap: 40px;
    width: 350px;
  }
  .stats-title > h1 {
    font-size: 30px;
    font-weight: 500;
  }
  .stats-title > span {
    font-size: 12px;
    font-weight: 400;
    width: 355px;
  }
  .stats-number-container {
    width: 158px;
    height: 112px;
    margin: 0 0 20px 20px;
  }
}
