<section class="container">
  <div class="stats-content">

    <div class="stats-title">
      <h1>{{ "doslogistic.web.home.stats.title" | translate }}</h1>
      <span>{{ "doslogistic.web.home.stats.subTitle" | translate }}</span>
      <button>{{ "doslogistic.web.base.getMore" | translate }}<img src="assets/images/icons/arrow-up-right.png" alt="arrow-up-right"></button>
    </div>

    <div class="stats-numbers">
      <div class="stats-number-up">
        <div class="stats-number-container">
          <img src="assets/images/stats/book.svg" alt="book">
          <span class="stats-number-num">200+</span>
          <span class="stats-number-subtitle">{{ "doslogistic.web.home.stats.square1" | translate }}</span>
        </div>
        <div class="stats-number-container">
          <img src="assets/images/stats/brifecase.svg" alt="book">
          <span class="stats-number-num">200+</span>
          <span class="stats-number-subtitle">{{ "doslogistic.web.home.stats.square2" | translate }}</span>
        </div>
      </div>
      <div class="stats-number-down">
        <div class="stats-number-container">
          <img src="assets/images/stats/team.svg" alt="book">
          <span class="stats-number-num">150+</span>
          <span class="stats-number-subtitle">{{ "doslogistic.web.home.stats.square3" | translate }}</span>
        </div>
        <div class="stats-number-container">
          <img src="assets/images/stats/teacher.svg" alt="book">
          <span class="stats-number-num">5+</span>
          <span class="stats-number-subtitle">{{ "doslogistic.web.home.stats.square4" | translate }}</span>
        </div>
      </div>
    </div>

  </div>
</section>
