<section class="container">
  <div class="stats-content">

    <div class="stats-title">
      <h1>Цифры говорят!</h1>
      <span>Ниже представлен текст, описыв ающий наши достижения.</span>
      <button>Узнать больше <img src="assets/images/icons/arrow-up-right.png" alt="arrow-up-right"></button>
    </div>

    <div class="stats-numbers">
      <div class="stats-number-up">
        <div class="stats-number-container">
          <img src="assets/images/stats/book.svg" alt="book">
          <span class="stats-number-num">600+</span>
          <span class="stats-number-subtitle">Решения</span>
        </div>
        <div class="stats-number-container">
          <img src="assets/images/stats/brifecase.svg" alt="book">
          <span class="stats-number-num">1500+</span>
          <span class="stats-number-subtitle">Проекты</span>
        </div>
      </div>
      <div class="stats-number-down">
        <div class="stats-number-container">
          <img src="assets/images/stats/team.svg" alt="book">
          <span class="stats-number-num">150+</span>
          <span class="stats-number-subtitle">Клиенты</span>
        </div>
        <div class="stats-number-container">
          <img src="assets/images/stats/teacher.svg" alt="book">
          <span class="stats-number-num">10+</span>
          <span class="stats-number-subtitle">Лет опыта</span>
        </div>
      </div>
    </div>

  </div>
</section>
