<div class="container">
  <!-- The video -->
  <video autoplay muted loop class="myVideo">
    <source src="../../../../assets/videos/video-1.mp4" type="video/mp4"/>
  </video>
  <div class="carusel">
    <app-carusel></app-carusel>
  </div>
  <div class="content">
    <app-stores></app-stores>
  </div>
  <div class="content">
    <stats-component></stats-component>
  </div>
  <div class="content">
    <app-projects-component></app-projects-component>
  </div>
  <div class="content">
    <app-choose-us></app-choose-us>
  </div>
  <div class="content">
    <app-about-us></app-about-us>
  </div>
  <div class="div">
  </div>
</div>
