<div class="container1">
  <div class="choose_us">
    <div class="container">
      <div class="content">
        <div class="block_title">
          {{'doslogistic.web.home.whyChooseUs.whyChooseUs' | translate}}
        </div>
      </div>

      <div class="chooseus_block">
        <div class="section-image">
          <img class="upper-banner" src="assets/images/chooseUs/computer-office.png" alt="collective-photo"/>
          <div class="lower-banner">
            <img class="lower-banner-1" src="assets/images/chooseUs/agreement-handshake.png"
                 alt="agreement-handshake"/>
            <img class="lower-banner-2" src="assets/images/chooseUs/office-table.png" alt="office-table"/>
          </div>
        </div>

        <div class="right">
          <div class="chooseus_item">
            <div class="title">
              <img src="assets/images/chooseUs/high-quality.png" alt="" />
              <span>{{'doslogistic.web.home.whyChooseUs.time' | translate}}</span>
            </div>

            <div class="desc">
              {{'doslogistic.web.home.whyChooseUs.time-paragraph' | translate}}
            </div>
          </div>

          <div class="chooseus_item">
            <div class="title">
              <img src="assets/images/chooseUs/high-quality.png" alt="" />
              <span>{{'doslogistic.web.home.whyChooseUs.pricing' | translate}}</span>
            </div>

            <div class="desc">
              <!-- Sifat va ishonchlilikka putur etkazmasdan <br />
              raqobatbardosh narxlar tuzilmasi va iqtisodiy jihatdan <br />
              samarali logistika yechimlarini eslatib o'tamiz. -->
              {{'doslogistic.web.home.whyChooseUs.pricing-paragraph' | translate}}
            </div>
          </div>

          <div class="chooseus_item">
            <div class="title">
              <img src="assets/images/chooseUs/high-quality.png" alt="" />
              <span>{{'doslogistic.web.home.whyChooseUs.Safety' | translate}}</span>
            </div>

            <div class="desc">
              <!-- Kompaniyamiz xavfsizlik qoidalari va sanoat <br />
              standartlariga qat'iy rioya qilishini ta'kidlab o'tamiz. <br />
              Xavfsizlik va muvofiqlik uchun olgan har qanday <br />
              sertifikat va mukofotlariga ega. -->
              {{'doslogistic.web.home.whyChooseUs.Safety-paragraph' | translate}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>