<div class="main-container">

  <!-- The video -->
  <video autoplay muted loop class="myVideo">
    <source src="../../../../assets/videos/video-1.mp4" type="video/mp4"/>
  </video>

  <div class="main-dropdown-nav">
    <div class="dropdown-nav">
      <p (click)="toggleDropdown(1)">{{ "doslogistic.web.projects.interactivePanelsTitle" | translate }}</p>
      <p (click)="toggleDropdown(2)">{{ "doslogistic.web.projects.ledScreensTitle" | translate }}</p>
      <p (click)="toggleDropdown(3)">{{ "doslogistic.web.projects.audioSystemsTitle" | translate }}</p>
      <p (click)="toggleDropdown(4)">{{ "doslogistic.web.projects.videoProcessorsTitle" | translate }}</p>
      <p (click)="toggleDropdown(5)">{{ "doslogistic.web.projects.vksSystemsTitle" | translate }}</p>
      <p (click)="toggleDropdown(6)">{{ "doslogistic.web.projects.conferenceSystemsTitle" | translate }}</p>
    </div>
    <div class="question-box">
      <span class="thinking-emoji">😊</span>
      <h4>{{ "doslogistic.web.contacts.form.HaveAnyQuetions" | translate }}</h4>
      <p>{{ "doslogistic.web.contacts.form.infoOne" | translate }}</p>
      <button routerLink="/contacts">{{ "doslogistic.web.contacts.contacts" | translate }}</button>
    </div>
  </div>
  <div class="container">
    <!-- <h2>{{ "doslogistic.web.help.frequentlyAskedQuestions" | translate }}</h2> -->

    <div class="Image-container">
      <div class="image-grid">
        <div class="image-column">
          <img *ngFor="let index of getGridImageIndices()"
               (click)="selectImage(images[index])"
               [src]="images[index]"
               alt="Image">
        </div>
        <div class="main-image">
          <img [src]="selectedImage" alt="Main Image">
        </div>
      </div>
    </div>
    <div class="main-dropdown" id="dropdown1">
			<h3>{{ "doslogistic.web.help.sectionsTitle" | translate }}</h3>
			<div class="content">
				<div class="menu-trigger" (click)="isOpen1 = !isOpen1" [ngClass]="{'clicked': isOpen1}">
					<span class="menu-text">{{ "doslogistic.web.projects.interactivePanelsTitle" | translate }}</span>
					<i [ngClass]="isOpen1 ? 'gg-chevron-up' : 'gg-chevron-down'"></i>
				</div>
				<div class="menu" *ngIf="isOpen1" [@dropDownMenu]>
          <div class="menu-item">
            {{ "doslogistic.web.projects.interactivePanelsContent" | translate }}
          </div>
				</div>
			</div>
      <div class="content">
				<div class="menu-trigger" (click)="isOpen2 = !isOpen2" [ngClass]="{'clicked': isOpen2}">
					<span class="menu-text">{{ "doslogistic.web.projects.ledScreensTitle" | translate }}</span>
					<i [ngClass]="isOpen2 ? 'gg-chevron-up' : 'gg-chevron-down'"></i>
				</div>
				<div class="menu" *ngIf="isOpen2" [@dropDownMenu]>
          <div class="menu-item">
            {{ "doslogistic.web.projects.ledScreensContent" | translate }}
          </div>
				</div>
			</div>
      <div class="content">
				<div class="menu-trigger" (click)="isOpen3 = !isOpen3" [ngClass]="{'clicked': isOpen3}">
					<span class="menu-text">{{ "doslogistic.web.projects.audioSystemsTitle" | translate }}</span>
					<i [ngClass]="isOpen3 ? 'gg-chevron-up' : 'gg-chevron-down'"></i>
				</div>
				<div class="menu" *ngIf="isOpen3" [@dropDownMenu]>
          <div class="menu-item">
            {{ "doslogistic.web.projects.audioSystemsContent" | translate }}
          </div>
				</div>
			</div>
      <div class="content">
				<div class="menu-trigger" (click)="isOpen4 = !isOpen4" [ngClass]="{'clicked': isOpen4}">
					<span class="menu-text">{{ "doslogistic.web.projects.videoProcessorsTitle" | translate }}</span>
					<i [ngClass]="isOpen4 ? 'gg-chevron-up' : 'gg-chevron-down'"></i>
				</div>
				<div class="menu" *ngIf="isOpen4" [@dropDownMenu]>
          <div class="menu-item">
            {{ "doslogistic.web.projects.videoProcessorsContent" | translate }}
          </div>
				</div>
			</div>
      <div class="content">
				<div class="menu-trigger" (click)="isOpen5 = !isOpen5" [ngClass]="{'clicked': isOpen5}">
					<span class="menu-text">{{ "doslogistic.web.projects.vksSystemsTitle" | translate }}</span>
					<i [ngClass]="isOpen5 ? 'gg-chevron-up' : 'gg-chevron-down'"></i>
				</div>
				<div class="menu" *ngIf="isOpen5" [@dropDownMenu]>
          <div class="menu-item">
            {{ "doslogistic.web.projects.vksSystemsContent" | translate }}
          </div>
				</div>
			</div>
      <div class="content">
        <div class="menu-trigger" (click)="isOpen6 = !isOpen6" [ngClass]="{'clicked': isOpen6}">
          <span
            class="menu-text">{{ "doslogistic.web.projects.conferenceSystemsTitle" | translate }}</span>
          <i [ngClass]="isOpen6 ? 'gg-chevron-up' : 'gg-chevron-down'"></i>
        </div>
        <div class="menu" *ngIf="isOpen6" [@dropDownMenu]>
          <div class="menu-item">
            <p>{{ "doslogistic.web.projects.conferenceSystemsContent" | translate }}</p>
          </div>
        </div>
      </div>
		</div>
  </div>
</div>
